#errorMsg {
     -fx-font: 18px Arial;
     -fx-fill: #00FF00;
     -fx-stroke: black;
     -fx-font-weight: bold;
     -fx-stroke-width: .5;
 }
 #prompt {
      -fx-font: 26px Arial;
      -fx-fill: #00FFFF;
      -fx-stroke: black;
      -fx-stroke-width: .5;
  }